/* CSS Document */
body{ background-image:url(81.jpg)}
.bgc{
margin-top:16px;
background:#fff;
border-radius:10px;

}
.left2{
height:auto!important;
 min-height:500px;
 height:auto;
max-width:240px;
height:auto;
background:#333333;

}
.img{ 
border-right:2px solid #CCCCCC}
.span1{
margin:20px auto;
color:red}

.pic{
margin:10px auto;
border:5px solid #fff;}
.font{
color:#fff;}
.topR{
width:75%;
margin-top:100px;
}
hr{ 
border:1px solid}